In [10]:
import json
import pandas as pd

path_json = '/home/timssh/ML/TAGGING/DATA/datasets/tits_size.json'
list_path = '/home/timssh/ML/TAGGING/DATA/datasets/bad_lists/tits_size.txt'

with open(path_json) as f:
    json_ = json.load(f)

json_.keys()

dict_keys(['cat', 'num2label', 'weights', 'data'])

In [11]:
df = pd.read_json(json_["data"])
df

,path,big tits,flat chested,huge tits,small tits
0,610c7b5bdf3e77244aa6fce88eec78c8.jpg,1,0,0,0
1,e694e9d0882844c587fe464fed63c4e6.jpg,1,0,0,0
2,0671a11ac2a7313770f7bc8c4a9500a6.jpg,1,0,0,0
3,68d84ed26cb99e7915da939fde276bc2.jpg,1,0,0,0
4,df775c67080b0190fe6f91e11f5abd5a.jpg,1,0,0,0
...,...,...,...,...,...
23455,0af92e678dedd29db263ee339e22fcfc.jpeg,0,0,0,0
23456,513c7b76f111a46cdff3d0ab2fb6c56e.jpeg,0,0,0,0
23457,029c6997a7406605552dbec7f668b728.jpeg,0,0,0,0
23458,3cb95b790af3f46716c58f0196f230f1.jpeg,0,0,0,0
23459,b06aa43f58fe94a74eac37a2b1cd42d4.jpeg,0,0,0,0

In [19]:
cols = df.columns[1:]
all_ = 0
for col in cols:
    ret = df[col][df[col]==1].sum()
    print(ret)
    all_ += ret
print(all_)

8655
2879
425
5586
17545

In [9]:
with open(list_path) as f:
    bad_list = f.read()
bad_list = list(bad_list.split('\n'))

df = df[~df['path'].isin(bad_list)]
df = df.reset_index(drop=True)
df

,path,big tits,flat chested,huge tits,small tits
0,610c7b5bdf3e77244aa6fce88eec78c8.jpg,1,0,0,0
1,e694e9d0882844c587fe464fed63c4e6.jpg,1,0,0,0
2,0671a11ac2a7313770f7bc8c4a9500a6.jpg,1,0,0,0
3,68d84ed26cb99e7915da939fde276bc2.jpg,1,0,0,0
4,df775c67080b0190fe6f91e11f5abd5a.jpg,1,0,0,0
...,...,...,...,...,...
22951,0af92e678dedd29db263ee339e22fcfc.jpeg,0,0,0,0
22952,513c7b76f111a46cdff3d0ab2fb6c56e.jpeg,0,0,0,0
22953,029c6997a7406605552dbec7f668b728.jpeg,0,0,0,0
22954,3cb95b790af3f46716c58f0196f230f1.jpeg,0,0,0,0
22955,b06aa43f58fe94a74eac37a2b1cd42d4.jpeg,0,0,0,0

In [4]:
json_['data'] = df.to_json()
with open(path_json, "w") as f:
    f.write(json.dumps(json_))